


.rating {
    display: flex;
    flex-direction: row-reverse;
}

.bi-star-fill {
    color: lightgray;
    padding-left: 0.3rem;
    padding-right: 0.3rem;
    font-size: 2rem;
    transition: color 0.2s ease-in-out;
}

.bi-star-fill:hover, .bi-star-fill:hover ~ .bi-star-fill {
    color: orange;
}


.bi-star-fill {
    font-size: 2rem; /* Adjust the size of the stars */
    cursor: pointer; /* Make the stars clickable */
    color: lightgray; /* Default color for unselected stars */
    transition: color 0.3s ease; /* Smooth color transition */
}

/* Hover effect to highlight stars */
.bi-star-fill:hover,.bi-star-fill:hover ~ .bi-star-fill {
    color: gold; /* Color when hovering over the stars */
}

/* Style for selected stars */
.bi-star-fill.selected {
    color: gold; /* Color for selected (clicked) stars */
}

